
@media screen and (min-width: 200px) and (max-width: 728px) {

h1 {
  font-size: 1.4em;
  color: #480148;
 }

.header-menu {
  left: auto;
  position: relative;
  display:grid;
  top: auto;
  width: auto;
  text-align: left;
  font-size: 2em;
  box-sizing: content-box;
  margin: 0 4em 0 0.3em;
}
  
.header-menu li{
  position:relative;
  font-size: 0.8em; 
  text-align: left;
  margin: 0 1.5em 0 1.5em;
} 
main {
  margin: 0%;
}

.main-imagen {
  width: 8em;
  height: 12em;
  float:left;
}
    
.main>div {
  margin: 0 0 0 0.5em;
  height: auto;
  float: left;
  width: 100%;
}
   
.footer {
  font-size: 0.8em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5em;
  margin: 0%;
  width: 96%;
}

div.gallery{
  margin: 0%;
  width: 90%;

}

      
.pinturas {
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5px;
}
  
.poemas {
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5px;  
  padding: 0%;  
}

.main-videos {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 0;
  height: 140em;
}

.videos {
  margin: 0.2em;
  display: flexbox;
  grid-gap: 0;
  padding: 0.3em;
  width: 80%;
}


.formulario {
  margin: 5em 20%;
}

.formulario-menu li {
  font-size: 1em; 
}

.form_input {
  padding: 3px;
  margin-bottom: 0.5em;
  width: 15em;
}

.formulario__comentario {
  height: 8em;
  width: 15em;
}

.formulario__submit {
  font-size: 0.8em;
  margin-left: 20%;
  margin-bottom: 1px;
}

.volverhome-form {
  font-size: 1rem;
  padding-bottom: 1em;
  font-weight: bold;
}

}
  
      
       
 